<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:configChanges="colorMode|density|layoutDirection|screenLayout|screenSize|smallestScreenSize|orientation"
            android:enableOnBackInvokedCallback="true"
            android:theme="@style/Theme.Ram"
            tools:targetApi="33" />

    </application>

</manifest>